<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Classifier</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <div class="card">

            <h1>📩 Spam Classifier</h1>

            <p>Enter your message below to check whether it is Spam or Not Spam</p>

            <form action="/predict" method="POST">

                <textarea
                    name="message"
                    placeholder="Type your message here..."
                    required></textarea>

                <button type="submit">
                    Predict
                </button>

            </form>

            {% if prediction %}

            <div class="result {{ 'spam' if 'Spam' in prediction else 'ham' }}">
                {{ prediction }}
            </div>

            {% endif %}

        </div>

    </div>

</body>

</html>